html {
  height: 100%;
}
body {
  background: linear-gradient(160deg, rgb(218,148,255), rgb(133,99,191)) no-repeat;
  height: 100%;
  margin: 0;
}

.login-container {
  width: 600px;
  height: 315px;
  position: absolute;
  left: calc(50% - 300px);
  top: calc(50% - 100px);
  box-shadow: 10px 10px 62px rgb(98,79,182), -10px 0 62px rgb(98,79,182);
  display: flex;
  border-radius: 20px;
}

.left-container {
  width: 450px;
  padding: 52px;
  background: linear-gradient(160deg, rgb(119,83,171), rgb(89,109,213));
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.title {
  width: 40px;
  font-size: 20px;
  color: white;
  border-bottom: 3px solid rgb(88,142,214);
}

.input-container {
  margin-top: 40px;
}

.input-container input {
  width: 100%;
  margin-bottom: 20px;
  background: transparent;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgb(88,142,214);
  padding: 6px 0;
  transition: all 200ms;
}

/* 设置提示文字的样式 */
.input-container input::placeholder {
  color: #ddd;
}

.message-container {
  color: #ddd;
  font-size: 14px;
  margin-top: 30px;
  transition: all 200ms;
  cursor: pointer;
}

.right-container {
  padding: 47px 50px;
  width: 150px;
  background: rgb(95,85,198);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.regist-container {
  margin-left: 30px;
}

.regist {
  color: white;
  font-size: 20px;
  border-bottom: 3px solid rgb(224,207,117);
  transition: all 200ms;
  cursor: pointer;
}

.actoin-container {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  text-align: center;
  line-height: 48px;
  border: 1px solid yellow;
  font-size: 14px;
  color: white;
  margin-left: 25px;
  margin-top: 135px;
  cursor: pointer;
  transition: all 200ms;
}

.input-container input:hover {
  border-bottom: 1px solid white;
}

.input-container input:focus {
  outline: 0px;
}

.message-container:hover {
  color: white;
}

.regist:hover{
  border-bottom: 3px solid white;
}

.actoin-container:hover {
  background-color: rgb(255,125,255);
}