<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.bestguo.mapper.ClassesMapper">

    <resultMap id="BaseResultMap" type="top.bestguo.entity.Classes">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="classcode" column="classCode" jdbcType="VARCHAR"/>
            <result property="classname" column="className" jdbcType="VARCHAR"/>
            <result property="classdesc" column="classDesc" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,classCode,className,
        classDesc
    </sql>

    <select id="findAllClassCode" resultType="string">
        select classCode from classes;
    </select>
<select id="findJoinClasses" parameterType="Integer" resultType="Classes">
    select * from classes where  id in(select  classId from student_class where  stuId =#{stuId})
</select>
    <select id="findClassesCount" parameterType="Integer" resultType="Integer">
        select count(classId) from student_class where classId = #{classId}
    </select>

</mapper>
