<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.bestguo.mapper.PaperMapper">

    <resultMap id="BaseResultMap" type="top.bestguo.entity.Paper">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="examid" column="examId" jdbcType="INTEGER"/>
            <result property="questionid" column="questionId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,examId,questionId
    </sql>
</mapper>
