<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.bestguo.mapper.QuestypeMapper">

    <resultMap id="BaseResultMap" type="top.bestguo.entity.Questype">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="typename" column="typeName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,typeName
    </sql>
</mapper>
