<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.bestguo.mapper.QuestionMapper">

    <resultMap id="BaseResultMap" type="top.bestguo.entity.Question">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="questionname" column="questionName" jdbcType="VARCHAR"/>
            <result property="ismulti" column="isMulti" jdbcType="BOOLEAN"/>
            <result property="option1" column="option1" jdbcType="VARCHAR"/>
            <result property="option2" column="option2" jdbcType="VARCHAR"/>
            <result property="option3" column="option3" jdbcType="VARCHAR"/>
            <result property="option4" column="option4" jdbcType="VARCHAR"/>
            <result property="option5" column="option5" jdbcType="VARCHAR"/>
            <result property="answer" column="answer" jdbcType="VARCHAR"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
            <result property="belongclass" column="belongClass" jdbcType="INTEGER"/>
            <result property="level" column="level" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,questionName,isMulti,
        option1,option2,option3,
        option4,option5,answer,
        reason,belongClass,level
    </sql>

    <insert id="insertBatch" parameterType="list">
        insert into question(questionName,isMulti,option1,option2,option3,
                             option4,option5,answer,reason,belongClass,level)
        values
        <foreach collection="questions" item="question" separator=",">
            (#{question.questionname},#{question.ismulti},#{question.option1},#{question.option2},#{question.option3},
            #{question.option4},#{question.option5},#{question.answer},#{question.reason},#{question.belongclass},#{question.level})
        </foreach>
    </insert>
    <select id="selectReasonByIds" resultType="java.lang.String">
        select reason from question where id in
        <foreach collection="questionIds" separator="," open="(" close=")">
            #{questionId}
        </foreach>
    </select>
</mapper>
