<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.bestguo.mapper.RecordMapper">

    <resultMap id="BaseResultMap" type="top.bestguo.entity.Record">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="examid" column="examId" jdbcType="INTEGER"/>
            <result property="stuid" column="stuId" jdbcType="INTEGER"/>
            <result property="answer" column="answer" jdbcType="VARCHAR"/>
            <result property="wrong" column="wrong" jdbcType="VARCHAR"/>
            <result property="correct" column="correct" jdbcType="VARCHAR"/>
            <result property="score" column="score" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,examId,stuId,
        answer,wrong,correct,
        score
    </sql>

    <!-- 通过班级id、试卷id查询学生成绩，并且对学生成绩进行排序 -->
    <select id="getRecordByClassId" resultType="top.bestguo.vo.GradeTable">
        select stu.stuId, stu.username, stu.gender, record.score, record.answer
        from student stu
                 left join student_class sc on sc.stuId = stu.id
                 left join record on stu.id = record.stuId
                 left join exam on record.examId = exam.id
        where classId = #{classId} and (examId = #{examId} or examId is null)
        <if test="desc == 1">
            order by record.score is null, record.score desc
        </if>
        <if test="desc == 0">
            order by record.score is null, record.score asc
        </if>
    </select>
</mapper>
