<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.bestguo.mapper.TeacherMapper">

    <resultMap id="BaseResultMap" type="top.bestguo.entity.Teacher">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="teacherid" column="teacherId" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,email,username,
        password,gender
    </sql>

    <select id="findOneByEmail" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from teacher
        where
        email = #{email,jdbcType=VARCHAR}
    </select>
    <!-- 查询老师用户进行登录-->
    <select id="findTeacher" parameterType="String" resultType="teacher">
        select <include refid="Base_Column_List"/> from teacher where
        email=#{email} and password=#{password}

    </select>

    <!-- 插入老师注册信息-->
    <insert id="addTeacher" parameterType="teacher">
        insert into teacher(email,teacherId,username,password,gender) values (#{email},#{teacherid},#{username},#{password},#{gender})
    </insert>

</mapper>
